@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url('responsive-styles.css'); */

@font-face {
  font-family: 'Caveat Brush';
  src: url('../public/fonts/CaveatBrush-Regular.ttf');
}
@font-face {
  font-family: 'Camren Sans 300';
  src: url('../public/fonts/Carmen_Sans_Light.otf');
}
@font-face {
  font-family: 'Camren Sans 400';
  src: url('../public/fonts/Carmen_Sans_Regular.otf');
}
@font-face {
  font-family: 'Camren Sans 500';
  src: url('../public/fonts/Carmen_Sans_Medium.otf');
}
@font-face {
  font-family: 'Camren Sans 600';
  src: url('../public/fonts/Carmen_Sans_SemiBold.otf');
}
@font-face {
  font-family: 'Camren Sans 700';
  src: url('../public/fonts/Carmen_Sans_Bold.otf');
}
@font-face {
  font-family: 'Camren Sans 900';
  src: url('../public/fonts/Carmen_Sans_ExtraBold.otf');
}

.site_font--400{
  font-family: 'Camren Sans 400';
}
.site_font--500{
  font-family: 'Camren Sans 500';
}
.site_font--300{
  font-family: 'Camren Sans 300';
}
.site_font--600{
  font-family: 'Camren Sans 600';
}
.site_font--700{
  font-family: 'Camren Sans 700';
}
.site_font--900{
  font-family: 'Camren Sans 900';
}

.highlight__font{
  font-family: 'Caveat Brush';
}
.text-color-light{
  color: #818181;
}
.text-color{
  color: #181E27;
}

.siteWidth{
  max-width: 95%;
  @apply mx-auto w-full;
}

.main__grid{
  @apply grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid-lg{
  grid-template-columns: 57.392% 42.308%;
}
.grid__1{
  grid-template-columns: repeat(1, 1fr);
}
.grid__2{
  grid-template-columns: repeat(2, 1fr);
}
.grid__3{
  grid-template-columns: repeat(3, 1fr);
}
.grid__4{
  grid-template-columns: repeat(4, 1fr);
}
.grid__5{
  grid-template-columns: repeat(5, 1fr);
}
.grid__6{
  grid-template-columns: repeat(6, 1fr);
}
html {
    @apply scroll-smooth;
    font-size: 2.625vw;
}
body {
    @apply bg-black site_font--400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.site__wrapper{
  @apply rounded-3xl h-screen bg-white overflow-x-hidden overflow-y-auto;
}
.menu-active{
  color: red;
  /* border-radius: 10px; */
}
::-webkit-scrollbar{
  display: none;
}
.desktop__menu-not-used::-webkit-scrollbar{
  display: block;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e10904;
}

.font-21{
  font-size: 1.3125rem;
}
.link--green{
  background-color: #ACD146;
}

/*===== Header Styling =====*/
.desktop__header{
  @apply sticky w-full top-0 bg-white py-4 z-50 flex flex-wrap justify-between;
  min-height: 6.25rem;
  box-shadow: 0px 4px 4px rgba(177, 177, 177, 0.25);
}
.home__page .desktop__header{
  @apply relative;
}
.header__wrap--inner {
  @apply flex items-center justify-between siteWidth;
}
.site__logo{
  @apply w-32 relative -ml-2 mr-3;
  height: 4.25rem;
}
.site__logo:hover{
  opacity: .65;
}
.site__logo a.logo__link{
  @apply block;
}
.site__navigation ul {
  @apply flex items-center;
}
nav.site__navigation {
  @apply flex;
}
.site__navigation ul li a {
  @apply flex items-center text-lg font-bold pl-10 bg-no-repeat;
  background-image: url('../public/images/user-icon.svg');
  background-size: 1.5rem 1.6875rem;
}
.mobile__header{
  @apply relative;
}
span.map_icon {
  @apply relative h-6 block mr-4 mt-1;
  width: 1.125rem;
}

.header__left {
  @apply flex items-center;
}
.restra__name--links {
  @apply relative hidden;
}
.rest__pages .restra__name--links{
  @apply block cursor-pointer;
}
.restra__name--links p a{
  @apply flex items-center leading-none py-5 px-3 site_font--600;
  background: #F3F3F3;
  border-radius: 2rem;
}
.restra__name--links p a:after {
  content: '';
  border-top: 0.3875rem solid #C4C4C4;
  border-right: 0.3125rem solid transparent;
  border-left: 0.3125rem solid transparent;
  @apply h-0 w-0 block mt-1 ml-4;
}
ul.restra__name--lists {
  @apply absolute z-50 h-0 bg-white inset-x-0 mt-2 opacity-0 transition-opacity overflow-hidden;
  border: 0.0625rem solid #e5e5e5;
  border-radius: 2rem;
}
ul.restra__name--lists--active{
  @apply opacity-100 h-auto;
}
ul.restra__name--lists li a {
  @apply py-2.5 px-6 block transition;
}
ul.restra__name--lists li a:hover{
  background-color: #f3f3f3;
}
ul.restra__name--lists li:not(:last-child) {
  border-bottom: 0.0625rem solid #e5e5e5;
}
/* .header__wrap--inner.restra__menu{
  @apply pb-6;
} */
.header__wrap--inner.restra__menu ul,
.header__wrap--inner.prepSteps ul{
  @apply flex whitespace-nowrap overflow-x-auto items-center;  
}
.header__wrap--inner.restra__menu li a {
  @apply block pt-2.5 pb-3.5 px-6 text-xl site_font--900 leading-none;
}
.header__wrap--inner.restra__menu li.active__link a {
  @apply text-white link--green;
  border-radius: 2.875rem;
}
.header__wrap--inner.restra__menu ul li.burgur__icon{
  @apply flex items-center m-5;
}
.header__wrap--inner.restra__menu ul li.burgur__icon a{
  @apply w-9 h-9 bg-no-repeat bg-cover p-0;
  /* background-image: url('../public/images/left-big-arrow--white.svg'); */
  background-image: url('../public/images/burger_menu--icon.svg');
}
.header__wrap--inner.prepSteps ul{
  @apply gap-3;
}
.header__wrap--inner.prepSteps li{
  font-size: 1.5rem;
  @apply site_font--700 leading-none;
}
.header__wrap--inner.prepSteps li a.back--menu--icon{
  @apply block w-10 h-8 bg-no-repeat bg-cover p-0;
  background-image: url('../public/images/left-big-arrow.svg');
}


/* Homepage css */
.home__page .site__wrapper .pageWrapper{
  @apply bg-cover bg-no-repeat bg-center;
  min-height: calc(100vh - 6.25rem);
  background-image: url('../public/images/page--bg.jpg');
}
.gridBlogTwo{
  @apply grid;
  min-height: calc(100vh - 6.25rem);
}
.cardVerify .gridBlogTwo{
  min-height: inherit;
}
.gridCol {
  @apply pb-12 text-color-light;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(255 255 255 / 0.75);
  padding-top: 4.1875rem;
}
.secTitle{
  @apply text-black highlight__font text-center leading-none mb-3.5;
  font-size: 2.66rem;
}
.colDesc{
  @apply text-center mx-auto site_font--600;
  max-width: 44.1875rem;
  font-size: 1.2875rem;
  line-height: 1.359225;
}
.bgGray{
  background: #F9F9F9;
}
.searchBox {
  @apply flex items-center relative mb-4;
}
a{
  text-decoration: none;
}
.searchForm{
  @apply mt-8 relative;
}
.searchBox input {
  @apply w-full py-4 px-10 cursor-pointer;
  border: 0.0625rem solid hsl(216, 24%, 12%);
  border-radius: 0.438rem;
}
.searchBox .leftIcon{
  @apply absolute w-6;
  left: 0.5rem;
}
.useLocation{
  @apply font-semibold;
}
.searchBox .rightIcon{
  @apply absolute w-6;
  right: 0.5rem;
}
.searchBox .leftIcon svg,
.searchBox .rightIcon svg{
  @apply w-full;
}
.searchList{
  @apply opacity-0 h-0 bg-white transition-opacity overflow-hidden absolute inset-x-0 z-50;
}
.searchList_active{
  @apply opacity-100 h-auto -mt-12;
  border: 0.0625rem solid #181E27;
  padding: 1.563rem;
  border-radius: 0.438rem;
}
.searchList li:not(:last-child){
  margin-bottom: 1.5rem;
}
.searchList li a {
  font-size: 1.359375rem;
  line-height: 1.38;
  @apply site_font--700 text-color;
}
.searchForm .location__link{
  @apply mb-4;
}
.searchForm .useLocation{
  @apply flex items-center text-black;
}
.searchForm .useLocation svg{
  margin-right: 0.688rem;
}
.text-align-center{
  @apply text-center;
}
.gridBlockFour{
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.5rem;
  row-gap: 4.5rem;
  @apply grid items-center;
}
.font-18{
  font-size: 1.125rem;
}
.font-20{
  font-size: 1.25rem;
}
.flexBlockTwo{
  @apply flex justify-between flex-wrap;
}
.mt-16{
  @apply mt-4;
}
.mb-16{
  @apply mb-4;
}
.restroDetail{
  border-top: 0.0625rem solid #E1E1E1;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;
}
.restroGroup .colLeft, .restroGroup .colRight{
  max-width: 12.125rem;
  @apply w-full;
}
.restroGroup .colLeft .prdtImg{
  @apply relative overflow-hidden;
  height: 10.625rem;
  width: 10.625rem;
  border-radius: 0.438rem;
}
.flexBlockLeft{
  @apply mt-4 mr-3;
}
.orderStatus{
  @apply mt-4 w-full;
  max-width: 14.688rem;
}
.orderStatus .btn{
  @apply w-full block;
}
.restroGroup .colLeft .prdtImg img{
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* .restroGroup{
  @apply flex;
} */
.colMid.productDes .prdtNm{
  @apply font-bold mb-4;
  color: #181E27;
}
.colMid.productDes .flexBlockTwo:first-child{
  margin-bottom: 1.375rem;
}
.colMid.productDes .orderAdd{
  @apply font-normal ml-8 relative flex;
  color: #181E27;
  font-size: 0.875rem;
  margin-top: 1.5rem;
}
.openStatus {
  margin-top: 0.313rem;
}
/* .flexBlockTwo.noALign{
  align-items: inherit;
} */
.colMid.productDes .orderAdd::before{
  @apply absolute;
  content: '';
  background-image: url('../public/images/location.png');
  left: -2rem;
  width: 1.25rem;
  background-size: contain;
  height: 1.688rem;
}
.collect, .open, .time, .close{
  font-size: 1.018rem;
  color: #181E27;
  @apply font-bold;
}
.close{
  color: #FE0435;
}
.open{
  color: #4AC79A;
}
.btnRed{
  background: #FE0435;
  border-radius: 2rem;
  @apply text-white p-4 text-center;
}

.add--order {
  @apply flex items-center gap-6 relative;
}
.menu__srch{
  @apply hidden;
}
.menu__srch .btn,
.add--order .btn{
  @apply leading-none block text-xl pr-4 pt-2.5 pb-3.5 pl-12 bg-no-repeat;
  background-position: 1rem center;
  background-size: 1.5rem;
}
.menu__srch .btn{
  background-image: url('../public/images/srch_icon.svg');
}
.add--order .btn{
  background-image: url('../public/images/add--icon.svg');
}
.bannerSubTitle h3{
  font-size: 1.25rem;
  @apply site_font--900 leading-tight;
}
.textWhite{
  @apply text-white;
}
.bannerContent {
  @apply absolute w-full;
  top: 50%;
  left: 0;
  padding: 5%;
  max-width: 54.125rem;
  transform: translateY(-50%);
}
.bannerImage {
  @apply relative mt-2.5 mb-3 overflow-hidden;
  /* border-radius: 1.875rem; */
}
.bannerImage > span {
  @apply block;
  height: 100% important;
}
.bannerImage img {
  width: auto !important;
  max-width: inherit !important;
  left: 50% !important;
  transform: translateX(-50%);
}
.banner__wrapper {
  margin-bottom: 2.938rem;
}
.stepGridTwo{
  @apply main__grid gap-8;
}
.stepRightData.bgWhite{
  @apply p-8 bg-white;
}
.font-26{
  font-size: 1.625rem;
}
.pageBanner {
  @apply relative;
  height: 40rem;
}
.pageBanner img {
  @apply absolute h-full w-auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* Product lists Card blocks styling */
.product__lists {
  @apply main__grid grid__2 my-12 gap-10;
}
body:not(.steps) .cardBlock{
  @apply rounded-3xl overflow-hidden relative;
  box-shadow: 0px 2.87071px 2.87071px rgb(149 149 149 / 25%), 0px 0px 1.43535px rgb(0 0 0 / 25%);
}
.cardBlock__wrapper{
  @apply relative;
}
.card__link {
  @apply absolute inset-0 z-20 transition cursor-pointer;
}
.card__link:hover {
  background-color: rgb(0 0 0 /0.1);
}
.cardImg {
  @apply relative w-full;
  height: 0;
  padding-bottom: 100%;
}
.prod__lists--content .cardImg,
.stepLeftData .cardImg{
  /* padding-bottom: 76.25%; */
    height: 24rem;
  @apply overflow-hidden relative pb-0;
}
.prod__lists--content .cardImg img, .stepLeftData .cardImg img {
  @apply absolute w-auto h-full;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.cardImg img{
  /* width: auto !important;
  height: 100% !important;
  max-width: inherit !important;
  border-radius: 0.831rem;
  left: 50% !important;
  transform: translateX(-50%); */
}
body:not(.steps) .card--img--detail{ 
  @apply p-6 bg-white rounded-t-2xl absolute inset-x-0 bottom-0;
  border-top: 1px solid #ddd;
}
body:not(.steps) .card--img--desc{
  @apply pb-6 px-6 bg-white;
}
body.steps .cardImg{
  @apply rounded-xl mb-4 overflow-hidden;
}
.card--img--desc p{ 
  @apply mt-0;
}
.cateTitle{
  font-size: 1.625rem;
  @apply site_font--900 mt-10 mb-0;
}
.card--img--detail p{
  font-size: 0.886rem;
}
.card--img--detail .name, 
.card--img--detail .price{
  @apply site_font--700 text-lg;

}
.steps .card--img--detail .name, 
.steps .card--img--detail .price{
  font-size: 1.625rem;
}
.steps .card--img--desc{
  @apply mt-4;
}

/* Steps pages styling */
.bg--red{
  /* background-color: #D64444; */
}
.text--red{
  color: #D64444;
}
.bg--green{
  background-color: #739C70;
}
.bg--yellow{
  background-color: #F6D66F;
}
.bg-light--green{
  background-color: #C4D6B6;
}
.steps .site__wrapper{
  @apply bgGray;
}
.steps .stepGridTwo{
  @apply my-10 overflow-hidden;
  border-radius: 1.875rem;
  box-shadow: 0px 0px 16px rgb(196 196 196 / 70%);
}
.steps .stepLeftData{
  @apply py-8 px-8;
}
.optionTitle a{
  border: 2px dashed #000000;
  border-radius: 0.563rem;
  font-size: 1.359rem;
  @apply flex justify-between items-center p-6; 
}
.optionTitle {
  margin: 1.563rem 0;
}

.optionRow .font-26 {
  @apply site_font--700;
}
.optionTitle a h4 {
  @apply site_font--600;
}
.chooseOption input[type="radio"]{
  @apply hidden;
}
.chooseOption label{
  @apply relative text-center block mx-auto cursor-pointer;
}
.tweak .chooseOption label{
  @apply items-center flex justify-center;
}
.heatOption {
  @apply main__grid grid__2;
  column-gap: 4.375rem;
  row-gap: 4.375em;
  max-width: 57.125rem;
}
.heatIcon{
  @apply relative w-44 h-44 flex items-center justify-center mx-auto mb-3 bg--red rounded-full;
}
.extraheat .heatIcon{
  @apply bg--red;
}
.heat .heatIcon{
  @apply bg--green;
}
.mdheat .heatIcon{
  @apply bg--yellow;
}
.plainheat .heatIcon{
  @apply bg-light--green;
}
.chooseOption input[type="radio"]:checked + label .heatIcon:after{
  content: "";
  @apply absolute rounded-full top-0;
  right: 1.125rem;
  width: 2.125rem;
  height: 2.125rem;
  background: #7ECE7D;
}
.heatSelection {
  margin-top: 1.875rem;
  margin-bottom: 3.375rem;
}
.textGray{
  color: #929292;
}
.heatPage .textGray{
  color: #929292;
  @apply font-semibold mt-2;
}
.heatSelection.tweak .chooseOption{
  background: #F9F9F9;
  border: 0.0625rem solid #E0E0E0;
  border-radius: 0.938rem;
  font-size: 1.313rem;
  color: #3D3D3D;
  font-weight: 600;
  @apply relative text-center;
}
.heatSelection.tweak label{
  padding: 1.25rem 0.75rem;
  height: 100%;
}
.heatSelection.tweak .heatOption {
  margin-top: 2.563rem;
  column-gap: 1.875rem;
}
.chooseOption input[type="radio"]:checked + label .heatIcon:before{
  content: "";
  width: 0.5rem;
  height: 1.3125rem;
  right: 1.875rem;
  top: 0.25rem;
  border: solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
  position: absolute;
  z-index: 9;
}
.heatSelection.tweak .chooseOption input[type="radio"]:checked + label::after{
  content: "";
  width: 0.5rem;
  height: 1.3125rem;
  right: -0.25rem;
  top: -0.75rem;
  border: solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
  position: absolute;
  z-index: 9;
}
.heatSelection.tweak .chooseOption input[type="radio"]:checked + label::before{
  content: "";
  width: 2rem;
	height: 2rem;	
  border-radius: 50%;
  background: #7ECE7D;
  position: absolute;
  right: -1rem;
  top: -1rem;
}
.chooseOption input[type="checkbox"]:checked + label .heatIcon:before{
  content: "";
  width: 0.5rem;
  height: 1.3125rem;
  right: 1.875rem;
  top: 0.25rem;
  border: solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
  position: absolute;
  z-index: 9;
}
.heatSelection.tweak .chooseOption input[type="checkbox"]:checked + label::after{
  content: "";
  width: 0.5rem;
  height: 1.3125rem;
  right: -0.25rem;
  top: -0.75rem;
  border: solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(45deg);
  position: absolute;
  z-index: 9;
}
.heatSelection.tweak .chooseOption input[type="checkbox"]:checked + label::before{
  content: "";
  width: 2rem;
	height: 2rem;	
  border-radius: 50%;
  background: #7ECE7D;
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.heatSelection.tweak input[type="radio"] + label::before{
  background: transparent;
}
.btnBlack {
  background: black;
  min-width: 14.35rem;
  display: inline-block;
  padding: 1.313rem 1rem;
  @apply text-white text-center;
  border-radius: 2rem;
}
.rightBtn{
  @apply text-right;
}
.step--title{
  @apply font-26 site_font--700;
}
.stepSelection input[type="checkbox"] {
  @apply hidden; 
}
.stepSelection ul {
  @apply main__grid grid__2 my-9 gap-4;
}
.stepSelection ul li label {
  @apply pt-1.5 px-1.5 pb-4 border-solid border-transparent text-center block overflow-hidden;
  border-width: 0.125rem;
  border-radius: 0.75rem;
  box-shadow: 0px 2.59492px 2.59492px rgba(149, 149, 149, 0.25), 0px 0px 1.29746px rgba(0, 0, 0, 0.25);
}
.stepSelection ul li input[type="checkbox"]:checked ~ label{
  border-color: #D64444; 
}
span.side__image {
  @apply block mb-5 relative overflow-hidden h-40;
  border-bottom: 1px solid #ddd;
}
.prod__lists--content .cardImg img {
  @apply w-full;
}
span.side__image img {
  @apply absolute w-full h-full pb-2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.heatSelection .heatOption .chooseOption.extraheat {
  @apply bg-white pb-4 text-center;
  box-shadow: 0px 2.59492px 2.59492px rgb(149 149 149 / 25%), 0px 0px 1.29746px rgb(0 0 0 / 25%);
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.375rem;
  border-width: 0.125rem;
  border-radius: 0.75rem;
}
.heatSelection .heatOption .chooseOption.extraheat .heatIcon {
  max-width: 8rem;
  @apply h-32 overflow-hidden relative;
}
.heatSelection .heatOption .chooseOption.extraheat .heatIcon img {
  @apply absolute w-full h-full;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.heatSelection .heatOption .chooseOption.extraheat input[type="radio"]:checked + label .heatIcon:after{
  right: 2.125rem;
  top: 0.25rem;
}
.heatSelection .heatOption .chooseOption.extraheat input[type="radio"]:checked + label .heatIcon:before{
  right: 2.875rem;
  top: 0.5rem;
}
span.side__header h3 {
  @apply site_font--700;
}
span.side__header p {
  font-size: 0.8125rem;
  margin-top: 0.3125rem;
}
.selection-list {
  @apply my-6 flex items-center gap-4 w-full p-6 rounded-lg;
  box-shadow: 0px 0px 9px rgba(120, 120, 120, 0.25);
}
.list--img {
  @apply relative h-20 w-20;
}
.list--options {
  @apply flex items-center justify-between;
  width: calc(100% - 6.5rem);
}
span.opt-title{
  @apply block site_font--600 text-xl;
}
span.opt-edit {
  @apply relative block h-10 w-10;
}


/* Cart page css */
.cart__info .cart__image{
  @apply w-28 h-28 relative;
}
.cart__actions a{
  @apply inline-block relative w-8 h-8 ml-8;
}
.remove__offer{
  @apply w-5 h-5 relative hidden;
}
.add__offer{
  @apply w-5 h-5 relative inline-block;
}
.cart__wrapper {
  background: #E5E5E5;
  @apply pb-6;
}
.cart__wrapper .cart--table {
  @apply w-full mx-auto bg-white mt-6;
  max-width: 85rem;
}
table {
  @apply w-full text-center;
}
tr:not(:last-child) {
  border-bottom: 0.0625rem solid #A4A4A4;
}
th {
  @apply p-5;
}
td{
  @apply block relative p-6;
}
label {
  @apply block;
}
.cart__info, .cart__offers ul{
  @apply flex items-center gap-4 flex-wrap;
}
table tr:first-child, table thead{
  @apply hidden;
}
th {
  @apply text-lg site_font--700;
}
th:first-child { 
  @apply text-left;
}
tr td:not(:first-child) {
  @apply text-right;
  min-width: 6rem;
}
.order--table tr td{
  text-align: right;
  min-height: 4rem;
}
.order--table tr:not(:last-child) td,
.cart--table tr:not(:last-child) td{
  @apply pl-48;
}
.order--table tr:not(:last-child) td:before,
.cart--table tr:not(:last-child) td:before{
  content: '';
  @apply w-40 mr-2 site_font--600 absolute left-5 text-left;
}
.cart--table tr:not(:last-child) td:first-child:before{
  content: 'Items';
}
.cart--table tr:not(:last-child) td:nth-child(3):before{
  content: 'Quantity';
}
.cart--table tr:not(:last-child) td:last-child:before{
  content: 'Price';
}

.order--table tr:not(:last-child) td:first-child:before{
  content: 'Items';
}
.order--table tr:not(:last-child) td:nth-child(2):before{
  content: 'Options';
}
.order--table tr:not(:last-child) td:nth-child(3):before{
  content: 'Qty';
}
.order--table tr:not(:last-child) td:nth-child(4):before{
  content: 'Price';
}
.order--table tr:not(:last-child) td:last-child:before{
  content: 'Total Price';
}
.cart__title {
  @apply text-2xl site_font--700;
}
.offer__select label {
  @apply flex items-center p-4 cursor-pointer;
  border: 0.0625rem solid #000;
  line-height: 1;
  border-radius: 1.875rem;
  gap: 1rem;
}
.table--scroll tr td {
  white-space: nowrap;
}
.offer__select input[type="checkbox"] {display: none;}

.cart__offers {margin-top: 1.5rem;}

span.offer__title {font-size: 1.125rem;font-family: 'Camren Sans 700';}

span.offer__price {font-family: 'Camren Sans 700';font-size: 1.125rem;}

span.offer__price span {font-family: 'Camren Sans 300';text-decoration: line-through;margin-right: 0.75rem;}

.offer__select input[type="checkbox"]:checked ~ label .remove__offer {
  @apply inline-block;
}
.offer__select input[type="checkbox"]:checked ~ label .add__offer {
  @apply hidden;
}
.offer__select input[type="checkbox"]:checked ~ label {
  background-color: #D64444;
  border-color: #D64444;
  color: #fff;
}
.cart--subtotal {
  @apply site_font--700 flex justify-between mb-3 text-lg;
}
.notlogged--in {
  @apply bg-white p-4;
}
.notlogged--in span {
  @apply flex items-center mx-auto justify-between flex-wrap gap-4;
  max-width: 100rem;
}
.notlogged--in span a {
  min-width: 13rem;
  line-height: 1;
}
.cart__page .add--order .btn{
  @apply pl-4 bg-none;
  min-width: 10rem;
}
a.conti--order{
  @apply underline;
  text-underline-offset: 0.3125rem;
}

/* Login Page Css */
.signup__form .site__wrapper,
.login__form .site__wrapper{
  @apply flex py-6;
}
.user__form {width: 40rem;margin: 0 auto;background: #fff;padding: 2rem 3rem 3rem;border-radius: 1.875rem;box-shadow: 0px 16px 32px rgba(201, 201, 201, 0.25), 0px 0px 2px rgba(175, 175, 175, 0.25);}

.form__title .site__logo{
  @apply mx-auto;
}
.form__title .site__logo:hover{
  @apply opacity-100;
}
form {margin-top: 1.5rem;}

label.form--label {font-family: 'Camren Sans 700';font-size: 1.125rem;margin-bottom: 0.75rem;}

input.form--control {background: #F9F9F9;border-radius: 0.5rem;font-size: 1.125rem;width: calc(100% - 3rem);border: 0.0625rem solid #EFEFEF;padding: 1.25rem 1rem;margin-left: 3rem;}

.form--item {margin-bottom: 1.5rem;position: relative;}

.form--group--flex {display: flex;flex-wrap: wrap;justify-content: space-between;gap: 1rem;margin-bottom: 1.5rem;}

.form--item--checkbox {display: flex;align-items: center;line-height: 1;gap: 0.5rem;}

input[type="checkbox"] {border: 0.125rem solid #000;height: 1.6875rem;width: 1.6875rem;border-radius: 0.25rem;}

.form--item--checkbox label {font-family: 'Camren Sans 700';font-size: 1.125rem;}

.forgot--pwd a {font-size: 1.125rem;font-family: 'Camren Sans 700';}

.form--actions .btn {border-radius: .5rem;width: 100%;margin-bottom: 1.5rem;font-family: 'Camren Sans 700';font-size: 1.125rem;}

.form--link--desc {text-align: center;font-size: 1.125rem;font-family: 'Camren Sans 700';}

.form--link--desc a {
  @apply text--red;
}

span.form--icon {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  display: block;
  bottom: 1.25rem;
  left: 0;
  top: 58%;
}


/* Checkout Styling */
.successIcon svg{
  @apply m-auto;
}
.successMsg {
  margin-bottom: 1.75rem;
  font-size: 1.563rem;
  @apply font-semibold;
}
.orderCheckout {
  max-width: 32.813rem;
  @apply m-auto w-full;
}
.successIcon svg {
  max-width: 6.75rem;
}
.successIcon {
  margin-bottom: 1.75rem;
  width: 6rem;
  height: 6rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.75rem;
}
.orderDetail .card-block{
  @apply bg-white;
  border-radius: 0.625rem 0.625rem 0px 0px;
}
.orderDetail .card-block ul{
  box-shadow: 0px 8px 16px rgba(196, 196, 196, 0.24);
  padding-top: 0.625rem;
}
.orderDetail .innerBlock span {
  @apply text-black text-xs;
}
.orderDetail .orderId {
  font-size: 0.938rem;
  @apply site_font--700;
}
.orderDetail ul li:not(:last-child){
  border-bottom: 0.0625rem solid #E1E1E1;
}
.orderDetail ul li{
  @apply px-4 pt-0 pb-2;
}
.orderDetail .innerBlock{
  @apply pt-2 flex justify-between items-center;
  font-family: 'Montserrat';
}
.orderDetail .instructions{
  @apply text-base my-8 site_font--600 text-center;
  color: #181E27;
}
.orderDetail .btnRed.btn{
  min-width: 17.438rem;
  background: #FE0435;
  display: inline-block;
  @apply text-white text-xl;
}
.orderDetail .myOrders{
  @apply text-center mb-8;
}
.card-block ul:last-child {
  border-bottom-left-radius: 0.688rem;
  border-bottom-right-radius: 0.688rem;
}
.fontBold{
  @apply font-bold;
}
.fontNormal{
  @apply font-normal;
}
span.user__pic {width: 2.875rem;height: 2.875rem;background: #C4C4C4;display: block;position: relative;border-radius: 50%;overflow: hidden;}
.checkout__page .add--order .btn {display: flex;align-items: center;gap: 0.5rem;padding: 0;}


.checkout__page .header__wrap--inner:not(.prepSteps),
.cart__page .header__wrap--inner:not(.prepSteps),
.profile__page .header__wrap--inner:not(.prepSteps),
.progress__page .header__wrap--inner:not(.progress--header),
.profile__pages .header__wrap--inner:not(.prepSteps){
  @apply hidden;
}

/* Profile Pages Css Start */
.profile__page .site__wrapper{
  @apply bgGray;
}
.settingPageALign {
  @apply gap-7;
  padding: 1.75rem 0;
}
.settingPageALign .user__sideBar{
  @apply bg-white w-full;
  border-radius: 0.938rem;
  box-shadow: 0px 7.7004px 15.4008px rgba(196, 196, 196, 0.24);
}
.settingPageALign .user__sideBar ul{
  border-bottom: 0.0625rem solid #E3E3E3;
}
.settingPageALign .user__sideBar ul li a{
  @apply px-4 py-6 w-full text-xl site_font--700;
  display: inline-block;
}
.settingPageALign .sideBarContent{
  @apply bg-white w-full;
  border-radius: 0.938rem;
  box-shadow: 0px 7.7004px 15.4008px rgba(196, 196, 196, 0.24);
}
.myProfileForm{
  max-width: 54rem;
}
.settingPageALign form.userProfileEditForm {
  @apply m-0 w-full;
  max-width: 55.188rem;
  padding: 2.188rem 3.313rem;
}
.settingPageALign form.userProfileEditForm input.form--control{
  @apply m-0 w-full;  
  border: 0.0625rem solid #cdcdcd;
  background: none;
}
.settingPageALign .editProfile .fileUpload input[type="file"] {
  display: none;
}
.settingPageALign .editProfile{
  @apply text-center;
}
.cart__actions a {
  @apply cursor-pointer;
}
.settingPageALign .changeImg {
  @apply flex items-center justify-center m-auto site_font--700 text-xl;
  padding-top: 1.188rem;
  max-width: 14rem;
}
.settingPageALign .formData{
  @apply mt-8;
}
.settingPageALign .changeImg svg{
  @apply mr-3;
}
.settingPageALign .uploadedImg {
  @apply relative overflow-hidden m-auto w-full;
  max-width: 13.5rem;
  height: 13.5rem;
  border-radius: 0.625rem;
  box-shadow: 0px 16px 32px rgba(201, 201, 201, 0.25), 0px 0px 2px rgba(175, 175, 175, 0.25);
}
.settingPageALign .uploadedImg img{
  @apply w-full h-auto ;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
.settingPageALign .active{
  color: #FE0435;
}
/* Orders List page */
.sideBarContent .orderDetail {
  @apply main__grid gap-6 p-6;
}
.sideBarContent .orderDetail .orderId{
  @apply border-none;
}


/* New Css */
.sideBarContent .orderDetail .card-block {
  border-width: 0.313rem;
  border-radius: 0.75rem;
  @apply p-4;
}
.sideBarContent .orderDetail .order--ready {
  border-color: #83DC64;
}
.sideBarContent .orderDetail .order--delayed{
  border-color: #BB3E56;
}
.sideBarContent .orderDetail .order--processing{
  border-color: #FCBB3E;
}
.sideBarContent .orderDetail .order--accepted{
  border-color: #3EB3BB;
}
.orderBtn .btnFullW:not(:last-child){
  @apply my-4;
}
.orderBtn .btnFullW{
  @apply w-full flex items-center justify-center text-white;
  border-radius: 0.313rem;
  padding: 1.25rem;
  font-size: 1.313rem;
}
.sideBarContent .orderDetail .order--ready .orderBtn .btnFullW{
  background: #83DC64;
}
.sideBarContent .orderDetail .order--accepted .orderBtn .btnFullW{
  background: #3EB3BB;
}
.sideBarContent .orderDetail .order--delayed .orderBtn .btnFullW{
  background: #BB3E56;
}
.sideBarContent .orderDetail .order--processing .orderBtn .btnFullW{
  background: #FCBB3E;
}
.orderBtn .btnFullW.black svg{
  @apply mr-3;
}
.sideBarContent .orderDetail .orderBtn .btnFullW.black{
  @apply bg-black;
}
.sideBarContent .orderDetail.hasBorder .card-block {
  padding: 0;
}
.sideBarContent .orderDetail .orderBtn {
  padding: 0 1rem 1rem;
}
.sideBarContent.inProgressContent .orderDetail .card-block-hasBg{
  background: #F1F1F1;
  padding: 1.25rem 0.625rem;
  border-radius: 0.625rem;
}
.sideBarContent .progressTitle{
  @apply text-lg site_font--600;
}
.sideBarContent.inProgressContent .orderDetail .haNoBorder{
  border: none;
  margin-top: 1.438rem;
}
.sideBarContent.orderInvoicePage {
  box-shadow: none;
}
.orderInvoicePage .orderId span{
  font-size: 1.063rem;
}
.orderInvoicePage .innerBlock .prdctTitle{
  color: #888888;
  font-size: 1.063rem;
}
.orderInvoicePage .innerBlock .prdctDes{
  color: #000;
  font-size: 1.063rem;
}
.sideBarContent.orderInvoicePage .orderDetail .card-block {
  border: none;
  box-shadow: 0px 8px 16px rgb(196 196 196 / 24%);
  border-radius: 0.688rem;
}
.sideBarContent.orderInvoicePage .orderDetail {
  @apply w-full block;
  max-width: 80rem;
}
.sideBarContent.orderInvoicePage .orderDetail ul li:not(:first-child){
  border-bottom: none;
}
.sideBarContent.orderInvoicePage .orderDetail ul li{
  @apply p-3;
}
.sideBarContent.orderInvoicePage .orderDetail .orderId{
  border-bottom: 0.0625rem solid #E1E1E1;
}
.sideBarContent.orderInvoicePage .orderDetail ul{
  padding-bottom: 0.625rem;
}
.sideBarContent.orderInvoicePage .orderDetail .card-block + .card-block {
  margin-top: 2.563rem;
}
.order--table tr{
  @apply border-none;
}
.order--table tr:first-child{
  border-bottom: 0.0625rem solid #E1E1E1;
}
.order--table tr:last-child{
  border-top: 0.0625rem solid #E1E1E1;
}
.order--table tr td{
  padding: 1.188rem;
}
.order--table tr th{
  font-size: 1.063rem
}
.order--table tr, .order--table td{
  @apply text-left;
  font-size: 1.063rem;
}
.order--table .total{
  @apply site_font--600;
}
.total .subTotal {
  @apply flex justify-between w-full float-right clear-both mb-3;
  max-width: 30rem;
}
.total .subTotal:last-child{
  @apply mb-0;
}
.order--table tr th:last-child, .order--table tr td:last-child{
  @apply text-right;
}
.cardVerify {
  max-width: 70.438rem;
  @apply w-full p-8;
  margin: 1.438rem auto;
}
.cardVerify form{
  @apply m-0;
}
.cardVerify .card-block {
  @apply bg-white;
  padding: 1.75rem 2.438rem;
}
.cardTitle{
  @apply text-xl site_font--700;
  margin-bottom: 1.313rem;
}
.cardVerify .form--control {
  background: #F9F9F9;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  width: calc(100% - 3rem);
  border: 0.0625rem solid #EFEFEF;
  padding: 1.25rem 1rem;
  @apply m-0;
}
.cardVerify .card-block + .card-block{
  margin-top: 1.438rem;
}
.cardVerify .formWidth{
  max-width: 31.813rem;
  @apply w-full;
}
.cardVerify .formSubTitle{
  @apply text-xl site_font--700;
}
.form--item p{
  @apply text-lg site_font--600;
  color: #181E27;
}
.mt--44{
  margin-top: 2.75rem;
}
.location .firstRow {
  @apply flex items-center;
}
.cardVerify .locationAdd{
  @apply flex flex-col;
  margin-left: 1.313rem;
}
.regularChoice .stepSelection ul {
  @apply mt-0;
}
.regularChoice .stepSelection ul li label{
  @apply px-0 pt-0;
}
.regularChoice span.side__image * {
  width: 100% !important;
  max-width: inherit !important;
}
.color__red{
  color: #FE0435;
}
.progress__page .header__wrap--inner li{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Montserrat';
}
td.total:after {
  content: '';
  display: block;
  clear: both;
}


/* rest__pages */
.rest__pages .product__lists.rest--pages__lists .cardBlock{
  grid-column: span 1 / auto;
}
.rest__pages .product__lists.rest--pages__lists .cardBlock:first-of-type{
  grid-area: 1 / 1 / 1 / 3;
}
.rest__pages .product__lists.rest--pages__lists .cardBlock:nth-child(4),
.rest__pages .product__lists.rest--pages__lists .cardBlock:nth-child(5){
  grid-column: span 1 / auto;
}
.rest__pages .product__lists.rest--pages__lists .cardBlock:first-of-type .cardImg,
.rest__pages .product__lists.rest--pages__lists .cardBlock:nth-child(4) .cardImg,
.rest__pages .product__lists.rest--pages__lists .cardBlock:nth-child(5) .cardImg{
  padding-bottom: calc(100% / 2 - 2.5rem / 2);
}
.add--order.cartBtn a {
  @apply bg-black p-4 flex items-center text-white justify-evenly;
  border-radius: 2rem;
  min-width: 12rem;
}
/* Responsive styling */
@media screen and (max-width: 39.999rem) {
  /* .desktop__header{
    @apply hidden;
  } */
  .restroGroup .colMid{
      @apply mt-4;
  }
}
@media screen and (min-width: 30rem){
  .bannerSubTitle h3{
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 37rem){ 
  .product__lists{
    @apply grid__2;
  }
}
@media screen and (min-width: 40rem){
  html{
    @apply text-base;
  }
  .site__logo{
    @apply mr-6;
  }
  .restra__name--links p a{
    @apply px-6;
  }
  .restroGroup{
      @apply flex;
  }
  .restroGroup .colMid{
    @apply w-full;
    max-width: calc(100% - 12rem);
  }
  .bannerSubTitle h3{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 47.999rem){
  .cart__offers{
    @apply relative;
    width: calc(100% + 11rem);
    left: -11rem;
  }
  .settingPageALign .user__sideBar{
    @apply mb-6;
  }
  .settingPageALign .user__sideBar ul{
    @apply flex flex-wrap items-center gap-6; 
  }
  .settingPageALign .user__sideBar ul,
  .order--table tr:not(:last-child){
    border-bottom: 0.0625rem solid #E3E3E3;
  }
}
@media screen and (min-width: 48rem){
  .bannerSubTitle h3{
    font-size: 2.75rem;
  }
  .product__lists{
    @apply grid__4;
  }
  .stepGridTwo{
    @apply grid__2;
  }
  .steps .stepLeftData{
    @apply pr-0;
  }
  table tr:first-child, table thead{
    @apply table-header-group;
  }
  tr td:not(:first-child) {
    @apply pt-16;
  }
  td{
    @apply table-cell p-5;
  }
  .order--table tr:not(:last-child) td,
  .cart--table tr:not(:last-child) td{
    @apply pl-5 text-center;
  }
  .order--table tr:not(:last-child) td{
    @apply pt-5;
  }
  .cart__actions {
    @apply w-36 flex gap-6;
  }
  .cart__actions a{
    @apply ml-0;
  }
  td:before{
    @apply hidden;
  }
  .header__wrap--inner.prepSteps ul{
    @apply gap-10;  
  }
  .cart__page .add--order .btn{
    min-width: 13rem;
  }
  .settingPageALign {
    @apply flex;
    min-height: calc(100% - 6.25rem);
  }
  .settingPageALign .user__sideBar{
    @apply bg-white;
    width: 21.313rem;
    max-width: 30%;
    border-radius: 0.938rem;
    box-shadow: 0px 7.7004px 15.4008px rgba(196, 196, 196, 0.24);
  }
  .signup__form .site__wrapper, .login__form .site__wrapper{
    @apply items-center;
    background-color: #e5e5e5;
  }
  .user__form{
    @apply my-auto;
  }
}
@media screen and (min-width: 60rem){
  /* .product__lists{
      @apply grid__3;
  } */
  .bannerSubTitle h3{
    font-size: 3.998rem;
  }
  .stepGridTwo{
    grid-template-columns: 33.33333% calc(66.66667% - 2rem);
  }
  .stepSelection ul{
    @apply grid__3;
  }
  .sideBarContent .orderDetail {
    @apply grid__2;
  }
  .profile__page .sideBarContent .orderDetail {
    @apply grid__1;
  }
}
@media screen and (min-width: 64rem) {
  .gridBlogTwo{
      @apply grid__2;
  }
  .gridCol{
      @apply bg-white;
  }
  .profile__page .sideBarContent .orderDetail {
    @apply grid__2;
  }
}
@media screen and (max-width: 74.999rem){
  .header__wrap--inner.restra__menu ul.desktop__menu{
    @apply hidden;
  }
  .header__wrap--inner.restra__menu ul{
    @apply pr-6;
  }
  .bm-burger-bars{
    @apply bg-black;
  }
  .mobile__header{
      @apply w-12 h-8;
  }
  .bm-overlay{
    @apply top-0 left-0;
  }
  .bm-menu-wrap{
    @apply top-0 text-white;
    background-color: #FE0435;
  }
  .bm-morph-shape{
    @apply hidden;
  }
}
@media screen and (min-width: 75rem){
  html{
    font-size: 0.833333333vw;
  }
  .mobile__header{
      @apply hidden;
  }
  /* .product__lists{
    @apply grid__4;
  } */
  .bannerImage{
    /* height: 26.6875rem; */
  }
  .heatOption{
    @apply grid__4;
  }
  .stepGridTwo{
    grid-template-columns: 25% auto;
  }
  .stepSelection ul{
    @apply grid__5;
  }
  .sideBarContent .orderDetail {
    @apply grid__3;
  }
  .sideBarContent.inProgressContent .orderDetail{
    @apply grid__4;
  }
  .settingPageALign .user__sideBar ul li{
    border-bottom: 0.0625rem solid #E3E3E3;
  }
  .header__wrap--inner.restra__menu ul li.burgur__icon{
    @apply ml-0 my-0 mr-10;
  }
  .header__wrap--inner.restra__menu ul li.burgur__icon a{
    background-image: url('../public/images/burger_menu--icon.svg');
  }
}
/* @media screen and (min-width: 121rem){
  html{
      font-size: 1vw;
  }
} */

.invalid-feedback.danger {
  color: #f00;
  margin-left: 3rem;
}
.read-more-button {
  cursor: pointer;
  color: #f00;
}
.otpView {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
form.OTP--form .form--label{
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  text-align: center;
}
form.OTP--form input[type="text"]{
  background: #f5f5f5;
  font-size: 1.25rem;
  width: 3rem !important;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 1;
  padding-bottom: 0.3125rem;
  border: 0.0625rem solid #e5e5e5;
}
form.OTP--form .form--item > div div{
  gap: 0.75rem;
  justify-content: center;
}
form.OTP--form input[type="text"] + span{
  padding-bottom: 0.5rem;
}
span.react-loading-skeleton {
  height: 20rem;
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination>.active>a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
}

.pagination>li>a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
}

.pagination>li>a,
.pagination>li>span {
  color: #aaaaaa;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: unset
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #004577;
    border-color: #004577;
}
.site__navigation .logOut {
  @apply ml-4;
}

.pagination>li>a,
.pagination>li>span {
    color: #aaaaaa;
}

ul.pagination li {
    padding: 0.15rem;
}

.pagination>li>a {
    border: 1px solid #E1E1E1;
}
.cartItem span{
  @apply w-6 h-6 absolute flex items-center justify-center;
  background: #FE0435;
  border-radius: 50%;
  top: -0.75rem;
  left: 1rem;
  font-size: 0.65rem;
}
.cartItem {
  @apply relative;
}
.cart__wrapper.show--item--table .cart--table .table--scroll{
  overflow-y: auto;
  height: calc(100vh - 27.5rem);
}
.cart__wrapper.show--item--table .cart--table .table--scroll tr:last-child {
  position: -webkit-sticky;
  position: absolute;
  bottom: 5.75rem;
  max-width: 78.85%;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(177, 177, 177, 0.25);
}
.cart__wrapper.show--item--table .cart--table .table--scroll tr:last-child td {
  width: 83rem;
}
.cart__wrapper.show--item--table, .cart__wrapper.show--item--table .cart--table{
  @apply h-full;
}
.cart__wrapper.show--item--table .cart--table .table--scroll::-webkit-scrollbar-thumb {
  background: #FE0435;
  @apply block;
}
.cart__wrapper.show--item--table .cart--table .table--scroll::-webkit-scrollbar {
  width: 0.175rem;
  background: #5e5c5c;
  @apply block;
}
.cart__wrapper.show--item--table {
  height: calc(100vh - 12rem);
  background: #f2f2f2;
}
.heatSelection .heatOption .chooseOption.extraheat .hidden-img .heatIcon {
  height: 2.5rem;
}
.step-one .heatSelection .heatOption {
  align-items: flex-start;
}
.heatSelection .heatOption .chooseOption.extraheat{
  @apply h-full;
}
.heatSelection .heatOption .chooseOption.extraheat label{
  @apply h-full cursor-pointer;
}
.step-one .heatSelection .heatOption .chooseOption.extraheat{
  @apply p-0;
}
.step-one .chooseOption input[type="radio"] + label{
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.375rem;
  padding-bottom: 1rem;
}
.step-one .chooseOption input[type="radio"]:checked + label {
  background: #f2f2f2;
}
.repeatSummery {
  @apply flex items-center justify-between;
}
.orderSummery{
  @apply mb-6 pb-6;
  border-bottom: 1px solid #ddd;
}
.repeatSummery:not(:last-child){
  @apply mb-4;
}
.repeatSummery p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.total.repeatSummery p {
  font-family: 'Camren Sans 700'
}
.total.repeatSummery {
  @apply mb-6;
}
.subMenu .flexBlockTwo {
  flex-wrap: inherit;
}
.react-read-more-read-less {
  @apply text--red;
}
